
<!--     #################   HOW TO GET STARTED     #################   -->
<div class="container">
  <div class="content">
    <div class="text">
      <h1>CREATE YOUR BUSINESS ESHOP IN FOUR EASY STEPS</h1>
      <p>
        Follow our step-by-step guide to set up your business on KOLAYAM
        marketplace and create a business e-Shop.
        Upload your product catalogue, store prices for customers and manage your
        Business e-Shop.
        Let your customers navigate to your Business e-Shop in the KOLAYAM
        Network.
      </p>
      <button class="cta-button">BOOK A DEMO</button>
    </div>
    <div class="image">
      <img src="assets/images/u24.png" >
    </div>
  </div>
</div>


<!--     #################   START USING YOUR BUSINESS E-STORE   #################   -->
<div class="products-section">

  <div class="products-grid">

    <div class="product-card">
      <h3 class="product-title">STEP 1</h3>
      <p class="product-highlight"><strong>Register your company</strong></p>
      <p class="product-description">
        We will verify your company, send you approval access via your registraton email
      </p>
    </div>

    <div class="product-card">
      <h3 class="product-title">STEP 2</h3>
      <p class="product-highlight"><strong>Create your company, set your terms and Create your Business eShop.</strong></p>
      <p class="product-description">
        invite key employees, set permissions, roles and customise your Business e-Shop.
      </p>
    </div>

    <div class="product-card">
      <h3 class="product-title">STEP 3</h3>
      <p class="product-highlight"><strong>Prepare, upload Product catalogue</strong></p>
      <p class="product-description">
        Bulk upload your product catalogue, images, technical data sheet etc. Download bulk upload excel template sheet or send us to do it for you.
      </p>
    </div>

    <div class="product-card">
      <h3 class="product-title">STEP 4</h3>
      <p class="product-highlight"><strong>We do the rest , notify you to start receiving orders.</strong></p>
      <p class="product-description">
        After your catalogue is uploaded and your Business e-Shop is submitted, we will take care of the configuration and testing for you. We will check your data and contact you if we need anything further.
      </p>
    </div>
  </div>

  <h1 class="text-center">START USING YOUR BUSINESS E-STORE</h1>
  <p class="product-description">
    Keep your eye on your dashboard, enjoy team colllaborative sales with suppliers and sell more
  </p>

</div>


<!--     #################   TESTIMONIALS     #################   -->
<div class="testimonials-section">

  <h2 class="testimonials-title">TESTIMONIALS</h2>

  <p class="testimonials-subtitle">Hear from our customers.</p>

  <div class="testimonials-grid">

    <div class="testimonial-card">
      <p class="testimonial-text">
        “The manufacturing industry is changing and will continue to change. We are fully committed, we see Kolayam as a partner. It would be foolhardy for companies like ours not to embrace a platform like yours.”
      </p>
      <h4 class="testimonial-author">President</h4>
      <p class="testimonial-company">Hydrogen Tanks</p>
    </div>

    <div class="testimonial-card">
      <p class="testimonial-text">
        “This is an easy-to-use platform compared to our own ERP system. It is faster too. We look forward to sourcing more of our OEM parts there.”
      </p>
      <h4 class="testimonial-author">CEO</h4>
      <p class="testimonial-company">Chambers of Business</p>
    </div>

    <div class="testimonial-card">
      <p class="testimonial-text">
        “The timing could not be better, OEM manufacturing needs platforms like this. I cannot see a reason in the world why we wouldn't use your system; it's the way the world is going.”
      </p>
      <h4 class="testimonial-author">Owner</h4>
      <p class="testimonial-company">SPS Engineering</p>
    </div>
  </div>

</div>


