<!--     #################   PRICING     #################   -->
<div class="PRICING container">

  <!--     #################   FLEXIBLE PRICING PLANS     #################   -->
  <div class=" titre ">
    <h1>FLEXIBLE PRICING PLANS</h1>
  </div>
  <div class=" titre-secondary "><h2>Easy to use, onboarding training support all included in price. </h2></div>
  <div class="PRICING-container">
    <div class="PRICING-section PRICING-links">
      <h3>BASIC PLAN</h3>
      <ul>
        <li><p >EVERYTHING YOU NEED<br> TO START</p></li>
        <li><p class="sec">Punch well above your size.<br> Get the job done.</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links">
      <h3>PRO PLAN</h3>
      <ul>
        <li><p href="#Buying">MEET YOUR PPAP<br> SUMISSION TIMILINES</p></li>
        <li><p class="sec">Perfect to collaborate<br> with external Suppliers</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links">
      <h3>PREMIUM PLAN</h3>
      <ul>
        <li><p href="#Buying">EVERY THING YOU NEED TO<br> SCALE YOUR OPERATIONS</p></li>
        <li><p class="sec">Meet all customer requirements<br> during the PPAP process</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links">
      <h3>ENTERPRISE PLAN</h3>
      <ul>
        <li><p href="#Buying">AFFORDABLE PPAP<br> CUSTOMER REQUIREMENTS<br> COMPLIANCE</p></li>
        <li><p class="sec"  >For Complex parts management<br> For Supplier management<br> For Global Operations</p></li>
      </ul>
    </div>
  </div>

  <!--     #################   Price per month     #################   -->

  <div class="PRICING-container">

    <div class="PRICING-section PRICING-links">
      <h1>£45/User <span class="sp"> per month</span></h1>
      <ul>
        <li><a href="#" class="subscribe" >SUBSCRIBE</a></li>
        <li><p class="p-red">Maximum User Seats: 2</p></li>
      </ul>
      <ul>
        <li><p>This include:</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Control your Brand, Logo</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Collect payments direct from your suppliers</p></li>
        <li><p><img src="assets/images/u623_a.svg"> 3% Transactions Fee Charged</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Assign Organisational Roles</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Unlimited Quotes to Customers</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links">
      <h1>£96/User <span class="sp"> per month</span></h1>
      <ul>
        <li><a href="#" class="subscribe">SUBSCRIBE</a></li>
        <li><p class="p-red">Maximum User Seats: 2-6</p></li>
      </ul>
      <ul>
        <li><p>This include:</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Control your Brand, Logo</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Collect payments direct from your suppliers</p></li>
        <li><p><img src="assets/images/u623_a.svg"> 3% Transactions Fee Charged</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Assign Organisational Roles</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Unlimited Quotes to Customers</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links">
      <h1>£149/User <span class="sp"> per month</span></h1>
      <ul>
        <li><a href="#" class="subscribe">SUBSCRIBE</a></li>
        <li><p class="p-red">Maximum User Seats: 6-12</p></li>
      </ul>
      <ul>
        <li><p>This include:</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Control your Brand, Logo</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Collect payments direct from your suppliers</p></li>
        <li><p><img src="assets/images/u623_a.svg"> 3% Transactions Fee Charged</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Assign Organisational Roles</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Unlimited Quotes to Customers</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links">
      <h1 style="color: #ffffff"> Pricing  </h1>
      <ul>
        <li><a href="#" class="subscribe">TALK TO SALES</a></li>
        <li><p class="p-red">Unlimited User Seats</p></li>
      </ul>
      <ul>
        <li><p>This include:</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Control your Brand, Logo</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Collect payments direct from your suppliers</p></li>
        <li><p><img src="assets/images/u623_a.svg"> 3% Transactions Fee Charged</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Assign Organisational Roles</p></li>
        <li><p><img src="assets/images/u623_a.svg"> Unlimited Quotes to Customers</p></li>
      </ul>
    </div>
  </div>

  <!--     #################   COLLABORATION FEATURES     #################   -->

  <div class="cc">
    <button  (click)="vesibelity(1)" id="flexiblePricing">
      COLLABORATION FEATURES
      <img class="im" id="im1" src="assets/images/u234.png" [style.display]="im1" width="15px">
      <img class="imb" width="15px" id="imb1" [style.display]="imb1" src="assets/images/u2342.png">
    </button >
    <div id="tab1" [style.display]="tab1" class="PRICING-container tab">

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Live Chat in Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Teams, Suppliers & Logistics</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> APQP Advanced Product Quality Planning Support</p></li>
          <li><p><img src="assets/images/u623_a.svg"> CSR Customer Specific Requirements Support</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> Procure with PPAP (Production Parts Approval) Specifications with Suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Frame Contracts with suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Internal Teams</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Procurement Negotiations with Suppliers</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Live Chat in Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Teams, Suppliers & Logistics</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> APQP Advanced Product Quality Planning Support</p></li>
          <li><p><img src="assets/images/u623_a.svg"> CSR Customer Specific Requirements Support</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> Procure with PPAP (Production Parts Approval) Specifications with Suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Frame Contracts with suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Internal Teams</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Procurement Negotiations with Suppliers</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Live Chat in Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Teams, Suppliers & Logistics</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> APQP Advanced Product Quality Planning Support</p></li>
          <li><p><img src="assets/images/u623_a.svg"> CSR Customer Specific Requirements Support</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> Procure with PPAP (Production Parts Approval) Specifications with Suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Frame Contracts with suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Internal Teams</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Procurement Negotiations with Suppliers</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Live Chat in Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Teams, Suppliers & Logistics</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> APQP Advanced Product Quality Planning Support</p></li>
          <li><p><img src="assets/images/u623_a.svg"> CSR Customer Specific Requirements Support</p></li>
          <li><p class="p-red"><img src="assets/images/u623_a.svg"> Procure with PPAP (Production Parts Approval) Specifications with Suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Frame Contracts with suppliers</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Collaboration with Internal Teams</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Procurement Negotiations with Suppliers</p></li>
        </ul>
      </div>
    </div>
  </div>

  <!--     #################   PRODUCTIVITY FEATURES     #################   -->

  <div class="cc">
    <button class="cc"  (click)="vesibelity(2)" id="productivityFeatures">
      PRODUCTIVITY FEATURES
      <img class="im" width="15px" id="im2" [style.display]="im2" src="assets/images/u234.png">
      <img class="imb" width="15px" id="imb2" [style.display]="imb2"  src="assets/images/u2342.png">
    </button >
    <div id="tab2" [style.display]="tab2" class="PRICING-container tab">
      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Bulk Publish Products/Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p ><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage muliple payment terms</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage INCOTERMS</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Warranty Periods</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Business Terms/Conditions</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Certificates of Origin</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Group Orders to Projects</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Bulk Publish Products/Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p ><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage muliple payment terms</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage INCOTERMS</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Warranty Periods</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Business Terms/Conditions</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Certificates of Origin</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Group Orders to Projects</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Bulk Publish Products/Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p ><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage muliple payment terms</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage INCOTERMS</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Warranty Periods</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Business Terms/Conditions</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Certificates of Origin</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Group Orders to Projects</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> Bulk Publish Products/Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p ><img src="assets/images/u623_a.svg"> Manage Product/Services Catalogues</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage muliple payment terms</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage INCOTERMS</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Warranty Periods</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Business Terms/Conditions</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Manage Certificates of Origin</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Group Orders to Projects</p></li>
        </ul>
      </div>
    </div>
  </div>

  <!--     #################   DASHBOARD ANALYTIC REPORTS     #################   -->

  <div class="cc">
    <button class="cc"  (click)="vesibelity(3)" id="dashboardReports">
      DASHBOARD ANALYTIC REPORTS
      <img class="im" width="15px" id="im3" [style.display]="im3" src="assets/images/u234.png">
      <img class="imb" width="15px" id="imb3" [style.display]="imb3" src="assets/images/u2342.png">
    </button >
    <div id="tab3" [style.display]="tab3" class="PRICING-container tab">

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> No. of Products</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Purchase Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Sales Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Expected/Unshipped Orders</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> No. of Products</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Purchase Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Sales Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Expected/Unshipped Orders</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> No. of Products</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Purchase Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Sales Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Expected/Unshipped Orders</p></li>
        </ul>
      </div>

      <div class="PRICING-section PRICING-links">
        <ul>
          <li><p><img src="assets/images/u623_a.svg"> No. of Products</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Services</p></li>
          <li><p><img src="assets/images/u623_a.svg"> No. of Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Purchase Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Sales Collaboration</p></li>
          <li><p><img src="assets/images/u623_a.svg"> Expected/Unshipped Orders</p></li>
        </ul>
      </div>
    </div>
  </div>


  <!--     #################   TESTIMONIALS     #################   -->

  <div class=" titre "><h1>TESTIMONIALS </h1></div>
  <div class=" titre-secondary "><h2>Hear from our customers.</h2></div>

  <div class="PRICING-container">

    <div class="PRICING-section PRICING-links TESTIMONIALS">
      <ul>
        <li><p>“The manufacturing industry is changing<br> and will continue to change. We are fully committed, we see Kolayam as a partner.<br>It would be foolhardy for companies like <br>ours not to embrace a platform like yours.”</p></li>
        <li><p style="padding-top: 15px">President <br> Hydrogen Tanks</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links TESTIMONIALS">
      <ul>
        <li><p>“ This is an easy to use platform <br> compared to our own ERP system.<br> It is faster too.<br> We look forward to sourcing more <br>of our OEM parts there”</p></li>
        <li><p style="padding-top: 15px">CEO <br>  Chambers ofBusiness</p></li>
      </ul>
    </div>

    <div class="PRICING-section PRICING-links TESTIMONIALS">
      <ul>
        <li><p>“ The timing could not be better, OEM <br> manufacturing needs platforms like this.<br> I cannot see a reason in the world <br>why we wouldn't use your system, <br>it's the way the world is going. ”</p></li>
        <li><p style="padding-top: 15px">Owner <br> SPS Engineering</p></li>
      </ul>
    </div>
  </div>

</div>
