<!--     #################   BUYERS & PROCUREMENT     #################   -->
<div class="container">
  <div class="content">
    <div class="text">
      <h1>BUYERS & PROCUREMENT</h1>
      <p>
        No need for stress! Use our platform to ensure
        all incoming/outgoing parts meet their
        technical specifications.  </p>
      <button class="cta-button" routerLink="/PRICING">SUBSCRIBE</button>
    </div>
    <div class="image">
      <img src="assets/images/a_desktop-small_normal_u0.png">
    </div>
  </div>
</div>

<!--     #################   BENEFIT TO PROCUREMENT     #################   -->
<div class="business-container">

  <h2>BENEFIT TO PROCUREMENT </h2>

  <div class="business-cards">

    <div class="card">
      <h3>LOWER YOUR
        PURCHASING
        CYCLE COSTS</h3>
      <p><strong></strong></p>
      <p>
        <b>One platform that
          enables you to lower
          your piece-price.
          Supplier prospect, verify
          manufacturing
          capability and lower
          order fulfillment risk at
          affordable rate.</b>    </p>
    </div>

    <div class="card">
      <h3>ONE DASHBOARD
        TO OVERSEE
        SUPPLIER QUALITY
        & FULFILMENT</h3>
      <p><strong></strong></p>
      <p>
        <b>ONE DASHBOARD
          TO OVERSEE
          SUPPLIER QUALITY
          & FULFILMENT</b>>    </p>
    </div>

    <div class="card">
      <h3>COLLABORATIVE
        PURCHASING with
        PPAP</h3>
      <p><strong></strong></p>
      <p>
        <b>
          Collaborate with your
          design engineers to
          determine tolerance
          parts can have, exchange
          coded PPAP technical
          docs with suppliers in
          real-time.
        </b>      </p>
    </div>

    <div class="card">
      <h3>SAVE TIME, EFFORT REUSE FRAME CONTRACTS </h3>
      <p><strong></strong></p>
      <p>
        <b>
          For parts that you
          already exchanged PPAP technical documents with supplier, save time by re-using FRAME CONTRACTs to avoid doing PPAP afresh again.
        </b>    </p>
    </div>

  </div>

</div>

<!--     #################   EASIEST WAY TO MANAGE YOUR CONTRACTS EFFECTIVELY     #################   -->
<div class="products-section">

  <h2 class="section-title">EASIEST WAY TO MANAGE YOUR CONTRACTS EFFECTIVELY</h2>

  <div class="products-grid">

    <div class="product-card">
      <h3 class="product-title">BE IN CONTROL</h3>
      <br>
      <p class="product-highlight"><b>Ensure critical parts
        arrive on time to
        technical specifications.</b></p>
      <p class="product-description">
        <b> Collaborate with
          LOGISTICS MANAGER to
          stay on top of your
          critical parts deliveries.</b>
      </p>
    </div>

    <div class="product-card">
      <h3 class="product-title">STAY ON TOP OF
        PART DEFECTS</h3>
      <p class="product-highlight"><strong>
      </strong></p>
      <br>
      <p class="product-description">
        <b>Deal with parts quality
          issues. Use our platform for direct real-time communication with the Supplier.</b>
      </p>
    </div>

    <div class="product-card">
      <h3 class="product-title">HAVE OVERSIGHT
        AS A BUYER &
        ENGINEERING
        TEAM</h3>
      <p class="product-highlight"><strong></strong></p>
      <br>

      <p class="product-description">
        <b>Engage with the
          procurement team
          through the APQP
          (PPAP) quality assurance process collaborative sourcing process. </b>      </p>
    </div>

    <div class="product-card">
      <h3 class="product-title">INVITE OTHER
        TEAMS TO JOIN</h3>
      <p class="product-highlight"><strong></strong></p>
      <br>
      <p class="product-description">
        <b>Your company team of
          Sales, Quality Engineers
          and Supply Chain
          Manager can all be on
          our simple easy to use
          platform and
          ollaboratively engage
          with suppliers at
          affordable rate.</b>      </p>
    </div>

  </div>

</div>

<!--     #################   TESTIMONIALS     #################   -->
<div class="testimonials-section">

  <h2 class="testimonials-title">TESTIMONIALS</h2>

  <p class="testimonials-subtitle">Hear from our customers.</p>

  <div class="testimonials-grid">

    <div class="testimonial-card">
      <p class="testimonial-text">
        “The manufacturing industry is changing and will continue to change. We are fully committed, we see Kolayam as a partner. It would be foolhardy for companies like ours not to embrace a platform like yours.”
      </p>
      <h4 class="testimonial-author">President</h4>
      <p class="testimonial-company">Hydrogen Tanks</p>
    </div>

    <div class="testimonial-card">
      <p class="testimonial-text">
        “This is an easy-to-use platform compared to our own ERP system. It is faster too. We look forward to sourcing more of our OEM parts there.”
      </p>
      <h4 class="testimonial-author">CEO</h4>
      <p class="testimonial-company">Chambers of Business</p>
    </div>

    <div class="testimonial-card">
      <p class="testimonial-text">
        “The timing could not be better, OEM manufacturing needs platforms like this. I cannot see a reason in the world why we wouldn't use your system; it's the way the world is going.”
      </p>
      <h4 class="testimonial-author">Owner</h4>
      <p class="testimonial-company">SPS Engineering</p>
    </div>
  </div>

</div>
